@use "../../object/variables/" as var;
@use "../../mixins/" as mix;
@use "../../functions/" as func;

.bl_headerConts{
  padding: 0 16px;
  text-align: center;
}
.bl_headerConts_ttl{
  color: var.$pointColorDeepBlue;
  font-family: var.$alphabetFont;
}
.bl_headerConts_nav{
  margin-top: 32px;
}
.bl_headerConts_list{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.bl_headerConts_link{
  display: block;
  width: 200px;
  border-radius: 8px;
  background-color: var.$pointColorYellow;
  color: #fff;
  font-family: var.$alphabetFont;
  font-weight: bold;
  line-height: 56px;
  text-transform: capitalize;
}
.ly_cont{
  width: 90%;
  margin: 200px auto 100px;
}
.remodal{
  max-width: 800px;
  padding: 0;
  background: transparent;
}
.remodal-close{
  top: 0;
  right: 0;
  left: auto;
  transform: translateY(-100%);
}
.bl_modalBtnUnit{
  padding: 8px 0;
  background: #fff;
}
.bl_modalBtn{
  width: 200px;
  margin: 0 8px;
  background: var.$pointColorGray;
  border: none;
  border-radius: 8px;
  color: var.$pointColorBlue;
  font-family: var.$alphabetFont;
  line-height: 56px;
  font-weight: bold;
  transition: all .3s;
}
.bl_modalBtn.is_active,
.bl_modalBtn:hover{
  color: #fff;
  background: var.$pointColorYellow;
  cursor: pointer;
}